<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="classes.Listeners"/>
</listeners>
  <test name="Languages Verification">
    <classes>
      <class name="VerifyLanguages"/>
    </classes>
  </test>
</suite> <!-- Suite -->
